<div class="d-flex flex-column align-items-end gap-4 ps-5 pb-3 portfolio-certificates-container">

    <div class="d-flex flex-row align-items-center w-100 p-3 portfolio-certificates-row">
        <div class="d-flex flex-row flex-wrap justify-content-end gap-3 w-100">
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/2024a.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/2024b.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/ai.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/certzarz.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/lifebalance.jpg"/>
        </div>
        <div class="text-30 fw-400 p-5 portfolio-certificates-year">
            2024
        </div>
    </div>

    <div class="d-flex flex-row align-items-center w-100 p-3 portfolio-certificates-row">
        <div class="d-flex flex-row flex-wrap justify-content-end gap-3 w-100">
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/IMG_20200624_221010.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/IMG_20200624_221025.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/IMG_20200624_221045.jpg"/>
            <img class="portfolio-certificate zoomable" src="assets/images/certificates/IMG_20200624_221151.jpg"/>
        </div>
        <div class="text-30 fw-400 p-5 portfolio-certificates-year">
            2020
        </div>
    </div>
</div>
